MoldMgnDesktop/ToolingManWPF/Service References/ConditionServiceReference/ClassLibrary.Utilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary.Utilities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary.Utilities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEnumItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnumItem" nillable="true" type="tns:EnumItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnumItem" nillable="true" type="tns:ArrayOfEnumItem" />
  <xs:complexType name="EnumItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnumItem" nillable="true" type="tns:EnumItem" />
</xs:schema>