MoldMgnDesktop/ToolingManWPF/Service References/ConditionServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClassLibrary.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClassLibrary.Utilities" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" />
  <xs:element name="GetMoldTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoldTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary.Data" minOccurs="0" name="GetMoldTypesResult" nillable="true" type="q1:ArrayOfMoldType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoldCates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoldCatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClassLibrary.Data" minOccurs="0" name="GetMoldCatesResult" nillable="true" type="q2:ArrayOfMoldCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClassLibrary.Data" minOccurs="0" name="GetProjectsResult" nillable="true" type="q3:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="enumType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnumItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClassLibrary.Utilities" minOccurs="0" name="GetEnumItemsResult" nillable="true" type="q4:ArrayOfEnumItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousesByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" minOccurs="0" name="warehouseType" type="q5:WarehouseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWarehousesByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClassLibrary.Data" minOccurs="0" name="GetWarehousesByTypeResult" nillable="true" type="q6:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoldExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moldNR" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoldExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoldExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkstationExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationNR" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkstationExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkstationExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="posiNr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PositionExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PositionExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>