MoldMgnDesktop/ToolingManWPF/Service References/StorageManageServiceReference/ClassLibrary.ENUM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MoldUseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Produce" />
      <xs:enumeration value="Mantain" />
      <xs:enumeration value="Test" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoldUseType" nillable="true" type="tns:MoldUseType" />
  <xs:simpleType name="MoldReturnStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NeedMantain">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Broken">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MoldReturnStateType" nillable="true" type="tns:MoldReturnStateType" />
  <xs:simpleType name="AttachmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PICTURE" />
      <xs:enumeration value="DOCUMENT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttachmentType" nillable="true" type="tns:AttachmentType" />
</xs:schema>