MoldMgnDesktop/ToolingManWPF/Service References/StorageManageServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StorageManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="storagemanageservice_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ToolingWCF.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorageManageService_ApplyMold_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyMold" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_ApplyMold_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyMoldResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_ReturnMold_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMold" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_ReturnMold_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMoldResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_ReturnMoldInPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMoldInPosition" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_ReturnMoldInPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnMoldInPositionResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:MoldInStore" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoldInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldMoveStore_InputMessage">
    <wsdl:part name="parameters" element="tns:MoldMoveStore" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldMoveStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoldMoveStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldTest_InputMessage">
    <wsdl:part name="parameters" element="tns:MoldTest" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoldTestResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldMaintain_InputMessage">
    <wsdl:part name="parameters" element="tns:MoldMaintain" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldMaintain_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoldMaintainResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_FileUpLoad_InputMessage">
    <wsdl:part name="parameters" element="tns:FileUpLoad" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_FileUpLoad_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileUpLoadResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_GetPartPoolPosiNr_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartPoolPosiNr" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_GetPartPoolPosiNr_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartPoolPosiNrResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldMoveWorkStation_InputMessage">
    <wsdl:part name="parameters" element="tns:MoldMoveWorkStation" />
  </wsdl:message>
  <wsdl:message name="IStorageManageService_MoldMoveWorkStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoldMoveWorkStationResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorageManageService">
    <wsdl:operation name="ApplyMold">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/ApplyMold" message="tns:IStorageManageService_ApplyMold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/ApplyMoldResponse" message="tns:IStorageManageService_ApplyMold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnMold">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/ReturnMold" message="tns:IStorageManageService_ReturnMold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/ReturnMoldResponse" message="tns:IStorageManageService_ReturnMold_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnMoldInPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/ReturnMoldInPosition" message="tns:IStorageManageService_ReturnMoldInPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/ReturnMoldInPositionResponse" message="tns:IStorageManageService_ReturnMoldInPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoldInStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/MoldInStore" message="tns:IStorageManageService_MoldInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/MoldInStoreResponse" message="tns:IStorageManageService_MoldInStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoldMoveStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/MoldMoveStore" message="tns:IStorageManageService_MoldMoveStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/MoldMoveStoreResponse" message="tns:IStorageManageService_MoldMoveStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoldTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/MoldTest" message="tns:IStorageManageService_MoldTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/MoldTestResponse" message="tns:IStorageManageService_MoldTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoldMaintain">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/MoldMaintain" message="tns:IStorageManageService_MoldMaintain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/MoldMaintainResponse" message="tns:IStorageManageService_MoldMaintain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileUpLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/FileUpLoad" message="tns:IStorageManageService_FileUpLoad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/FileUpLoadResponse" message="tns:IStorageManageService_FileUpLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartPoolPosiNr">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/GetPartPoolPosiNr" message="tns:IStorageManageService_GetPartPoolPosiNr_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/GetPartPoolPosiNrResponse" message="tns:IStorageManageService_GetPartPoolPosiNr_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoldMoveWorkStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageManageService/MoldMoveWorkStation" message="tns:IStorageManageService_MoldMoveWorkStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageManageService/MoldMoveWorkStationResponse" message="tns:IStorageManageService_MoldMoveWorkStation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="storagemanageservice" type="tns:IStorageManageService">
    <wsp:PolicyReference URI="#storagemanageservice_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApplyMold">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/ApplyMold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnMold">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/ReturnMold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnMoldInPosition">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/ReturnMoldInPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoldInStore">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/MoldInStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoldMoveStore">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/MoldMoveStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoldTest">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/MoldTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoldMaintain">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/MoldMaintain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileUpLoad">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/FileUpLoad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartPoolPosiNr">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/GetPartPoolPosiNr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoldMoveWorkStation">
      <soap:operation soapAction="http://tempuri.org/IStorageManageService/MoldMoveWorkStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageManageService">
    <wsdl:port name="storagemanageservice" binding="tns:storagemanageservice">
      <soap:address location="http://localhost:9090/ToolingWCF/StorageManageService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>