MoldMgnDesktop/ToolingManWPF/Service References/StorageManageServiceReference/ToolingWCF.DataModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToolingWCF.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToolingWCF.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgType" type="tns:MsgType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="MsgType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Warn" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MsgType" nillable="true" type="tns:MsgType" />
  <xs:complexType name="ArrayOfFileUP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileUP" nillable="true" type="tns:FileUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileUP" nillable="true" type="tns:ArrayOfFileUP" />
  <xs:complexType name="FileUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary.ENUM" minOccurs="0" name="Type" type="q1:AttachmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileUP" nillable="true" type="tns:FileUP" />
</xs:schema>